fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

sqlalchemy
psycopg2-binary
alembic

elasticsearch>=8.13,<9
neo4j
redis

llama-index
llama-index-core
llama-index-embeddings-huggingface
sentence-transformers

pypdf
python-multipart

pdf2image
pytesseract
pillow

openai
httpx
